a, a:hover, a:active {
  text-decoration: none; }

li {
  list-style: none; }

body {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 0px; }

header {
  background: url(../img/header_background_v1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column; }

.top-wrapper {
  display: flex;
  justify-content: space-between; }

.logo img {
  height: 150px; }

.menu {
  margin-top: 15px; }

.menu a {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-style: bold,900;
  font-size: 15px;
  padding: 15px 150px;
  color: #fff;
  text-align: center; }

.menu1 {
  border-right: 2px solid #808080;
  border-left: 2px solid #808080; }

header h1 {
  text-align: center;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif; }

.moto {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto; }

.btn-top {
  width: 200px;
  height: 35px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 20px;
  color: #fff;
  text-transform: uppercase;
  background-color: #01acac;
  float: center;
  padding-top: 17px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto; }

main {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  font-family: 'Roboto', sans-serif; }

.toolbar input {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  text-align: left;
  padding-left: 20px;
  width: 200px;
  height: 35px;
  border-color: #607d8b;
  border-style: solid;
  border-width: 1px;
  font-size: 15px; }

.post-list h1 {
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 2px; }

article {
  display: flex;
  margin-bottom: 20px;
  background-color: #efefef; }

.post {
  width: 95%; }

article img {
  margin: 15px; }

.post-description {
  color: #e90303;
  font-size: 15px;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #607d8b; }

.post-list h3 {
  color: #0097a7;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 5px; }

.post-list p {
  font-size: 17px;
  margin-top: 5px;
  line-height: 25px; }

.btn {
  width: 200px;
  height: 35px;
  background-color: #01acac;
  border: none;
  color: white;
  text-transform: uppercase;
  padding: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  float: right;
  margin-right: 5%;
  margin-top: 30px;
  margin-bottom: 50px; }

.about {
  width: 97%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto; }

.about img {
  width: 100%; }

.about h1 {
  text-transform: uppercase;
  text-align: right;
  margin-top: 70px;
  margin-bottom: 0px; }

.about p {
  margin-top: 5px;
  margin-bottom: 35px; }

.contact-form {
  width: 100%; }

.contact-form h1 {
  text-transform: uppercase;
  text-align: right;
  margin-top: 60px;
  margin-bottom: 5px; }

.contact-form h4 {
  text-transform: uppercase;
  text-align: right;
  margin-top: 5px; }

.input {
  width: 100%;
  display: flex;
  color: #01acac;
  flex-direction: column; }

.input p {
  text-align: right;
  margin-bottom: 0px; }

.input_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.name {
  width: 50%; }

.email {
  width: 50%; }

.name input {
  width: 100%; }

.email input {
  width: 96%; }

.input_top input {
  margin-top: 5px;
  height: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #607d8b; }

.email input {
  margin-left: 20px; }

.input_bottom textarea {
  max-width: 99.7%;
  min-width: 99.7%;
  max-height: 400px;
  width: 99.7%;
  margin-top: 5px;
  height: 130px;
  border-style: solid;
  border-color: #607d8b; }

.send_btn {
  width: 200px;
  height: 40px;
  background-color: #01acac;
  border: none;
  color: white;
  text-transform: uppercase;
  padding: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  left: 5px;
  position: relative; }

footer {
  font-family: 'Roboto', sans-serif;
  margin: 10px;
  font-size: 15px; }
